{% extends "layout.html" %}
{% block body %}
    <h2>{{ Title }}</h2>
    <h3>{{ Passed }} on {{ Total }} tests succeeded</h3>
    <table>
        <tr>
            <th>server</th>
            <th>url</th>
            <th>method</th>
            <th>accept type</th>
            <th>expect</th>
            <th>result</th>
        </tr>
        {% for item in Result %}
            <tr class={{ item[6] }}>
                <td>{{ item[0] }}{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }} </td>
                <td>{{ item[7] }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}